
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3">
            <app-sidebar></app-sidebar>
        </div>

        <!-- Content -->
        <div class="col-md-9">

          <div class="bg-light flex-fill">
            <div class="p-2 d-md-none d-flex text-white bg-success">
                <a href="#" class="text-white" 
                   data-bs-toggle="offcanvas"
                   data-bs-target="#bdSidebar">
                    <i class="fa-solid fa-bars"></i>
                </a>
                <span class="ms-3">Grocery Shopping</span>
            </div>
        </div>
        <br>
        <div class="p-4">
        <nav style="--bs-breadcrumb-divider:'>';font-size:14px">
          <ol class="breadcrumb">
              <li class="breadcrumb-item">
                  <i class="fa-solid fa-house"></i>
              </li>
              <li class="breadcrumb-item">Add User Record</li>
          </ol>
      </nav>
           
        
         <br>
         <form [formGroup]="form">
            <div class="col-md-7">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Name" formControlName="name" name="name">
                    <label for="floatingInput">Name</label>
                  </div>

                  <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email" name="email">
                    <label for="floatingInput">Email address</label>
<br>
                  <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example" formControlName="isAdmin" name="isAdmin">
                      <option selected>Select isAdmin</option>
                      <option value="1">True</option>
                      <option value="2">False</option>
                    </select>
                    <label for="floatingSelect">select</label>
                  </div>
                  <br>

                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="name@example.com" formControlName="passwordHash" name="passwordHash">
                    <label for="floatingInput">Password</label>
                  </div>
      
                  <button type="submit" class="btn btn-outline-success">Add User</button>
            </div>
          </div>
        </form>
            <br>
            
        </div>
    </div>
</div>
